<div class="bg-gradient-to-r from-indigo-500 md:from-indigo-700 w-auto flex flex-col ">
    <div class="flex lg:flex-row flex-col">
        <div class="lg:container lg:mt-6 w-auto flex flex-col pl-32 md:pr-16 md:pl-16 sm:pr-32  ">
            <div class="font-h1">
                <div class="mt-6 mb-24">
                    <main class="conteiner-booking-confirm">
                        <section class="flex flex-row">
                            <h4 class="font-h6 text-3xl text-white">Hotel Park</h4>
                            <div class="pl-3 pt-2 flex flex-row flex-grow">
                                <svg class="text-yellow-500 h-6 w-6" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                                </svg>
                            </div>
                        </section>
                
                        <section class="mt-6">
                            <div class="mb-6">
                                <h2 class="font-h4 text-white">Datos de reserva</h2>                      
                                <div class="flex pl-3 pt-6">
                                    <svg class="fill-current h-5 w-5 text-white" style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                                    </svg>
                                    <div class="pl-3 font-h5 text-white">
                                        Fecha de entrada
                                        <li class="font-h6  text-yellow-500">24/07/21</li>
                                    </div>
                                </div>
                                <div class="flex pl-3 pt-4">
                                    <svg class="fill-current h-5 w-5 text-white" style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                                    </svg>
                                    <div class="pl-3 font-h5 text-white">
                                        Fecha de salida
                                        <li class="font-h6 text-yellow-500">28/07/21</li>
                                    </div>
                                </div>
                                <div class="flex pl-3 pt-4 text-white">
                                    <svg class="fill-current h-5 w-5 text-white" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M19,7H11V14H3V5H1V20H3V17H21V20H23V11A4,4 0 0,0 19,7M7,13A3,3 0 0,0 10,10A3,3 0 0,0 7,7A3,3 0 0,0 4,10A3,3 0 0,0 7,13Z" />
                                    </svg>
                                    <div class="pl-3 font-h5 text-white">
                                        Tipo de habitación
                                        <li class="font-h6 text-yellow-500">28/07/21</li>
                                    </div>
                                </div>
                                <div class="flex items-center justify-center mt-10 ">            
                                    <form>
                                        <div class="double-confirm overflow-hidden">
                                            <div class="double-confirm-inner relative transform transition duration-500 ease-in-out  ">

                                                <!-- delete button -->
                                                <button type="button" class="py-3 px-6 fosm:flex flex-rownt-h3 bg-gradient-to-r from-green-400 to-green-600 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">Confirmar</p>
                                                        </div>
                                                    </div>
                                                </button>

                                                <!-- confirm button -->
                                                <button type="submit" class="absolute py-3 px-6 font-h3 bg-gradient-to-r from-red-400 to-red-600 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">¿Esta seguro?</p>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <form class="pl-20 sm:pl-10 md:pl-20">
                                        <div class="double-confirm1 overflow-hidden">
                                            <div class="double-confirm-inner1 relative transform transition duration-500 ease-in-out">
                                                <!-- delete button -->
                                                <button type="button" class="py-3 px-6 font-h3 bg-gradient-to-r from-red-400 to-red-600  text-gray-300 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                                        </svg>
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">Rechazar </p>
                                                        </div>
                                                    </div>
                                                </button>

                                                <!-- confirm button -->
                                                <button type="submit" class="absolute py-3 px-6 font-h3 bg-gradient-to-r from-red-400 to-red-600 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">¿Seguro?</p>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </form>                                   
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
        <div class="lg:container lg:mt-6 w-auto flex flex-col pr-32 md:pr-16 md:pl-16 sm:pl-32">
            <div class="font-h1">
                <div class="mt-6 mb-24">
                    <main class="conteiner-booking-confirm">
                        <section class="flex flex-row">
                            <h4 class="font-h6 text-3xl text-white">Hotel Park</h4>
                            <div class="pl-3 pt-2 flex flex-row flex-grow">
                                <svg class="text-yellow-500 h-6 w-6" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                                </svg>
                            </div>
                        </section>
                
                        <section class="mt-6">
                            <div class="mb-6">
                                <h2 class="font-h4 text-white">Datos de reserva</h2>                      
                                <div class="flex pl-3 pt-6">
                                    <svg class="fill-current h-5 w-5 text-white" style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                                    </svg>
                                    <div class="pl-3 font-h5 text-white">
                                        Fecha de entrada
                                        <li class="font-h6  text-yellow-500">24/07/21</li>
                                    </div>
                                </div>
                                <div class="flex pl-3 pt-4">
                                    <svg class="fill-current h-5 w-5 text-white" style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                                    </svg>
                                    <div class="pl-3 font-h5 text-white">
                                        Fecha de salida
                                        <li class="font-h6 text-yellow-500">28/07/21</li>
                                    </div>
                                </div>
                                <div class="flex pl-3 pt-4 text-white">
                                    <svg class="fill-current h-5 w-5 text-white" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M19,7H11V14H3V5H1V20H3V17H21V20H23V11A4,4 0 0,0 19,7M7,13A3,3 0 0,0 10,10A3,3 0 0,0 7,7A3,3 0 0,0 4,10A3,3 0 0,0 7,13Z" />
                                    </svg>
                                    <div class="pl-3 font-h5 text-white">
                                        Tipo de habitación
                                        <li class="font-h6 text-yellow-500">28/07/21</li>
                                    </div>
                                </div>
                                <div class="flex items-center justify-center mt-10">            
                                    <form>
                                        <div class="double-confirm3 overflow-hidden">
                                            <div class="double-confirm-inner3 relative transform transition duration-500 ease-in-out">

                                                <!-- delete button -->
                                                <button type="button" class="py-3 px-6 font-h3 bg-gradient-to-r from-green-400 to-green-600 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                        </svg>
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">Confirmar</p>
                                                        </div>
                                                    </div>
                                                </button>

                                                <!-- confirm button -->
                                                <button type="submit" class="absolute py-3 px-6 font-h3 bg-gradient-to-r from-red-400 to-red-600 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">¿Esta seguro?</p>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <form class="pl-20 sm:pl-10 md:pl-20">
                                        <div class="double-confirm4 overflow-hidden">
                                            <div class="double-confirm-inner4 relative transform transition duration-500 ease-in-out">
                                                <!-- delete button -->
                                                <button type="button" class="py-3 px-6 font-h3 bg-gradient-to-r from-red-400 to-red-600  text-gray-300 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                                        </svg>
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">Rechazar </p>
                                                        </div>
                                                    </div>
                                                </button>

                                                <!-- confirm button -->
                                                <button type="submit" class="absolute py-3 px-6 font-h3 bg-gradient-to-r from-red-400 to-red-600 rounded-lg ">
                                                    <div class="flex flex-row">
                                                        <div class="pl-2">
                                                            <p class="font-h5 text-white">¿Seguro?</p>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </form>                                   
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div> 
</div>