<div class="lg:container mx-auto mb-12 mt-6 w-1/2">
    <div class="flex lg:flex-row flex-col">
        <div class="lg:container lg:mt-6 w-auto flex flex-col ">
            <div class="flex  pb-3 ">
                <div class="font-h1 tracking-normal">
                    Hotel park
                </div>
                <div class="pl-3 pt-2 flex flex-row flex-grow">
                    <svg class="text-yellow-500 h-6 w-6" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                    </svg>
                </div>
            </div>
            <div class="flex  pb-12">
                <p class="font-h6 text-gray-600">{{direccion}} {{direccionNum}}, {{ciudad}}, {{provincia}}</p>
            </div>
            <div class="primary-slider w-full">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide ">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-full">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-full">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-full">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-full">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-full">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-auto h-auto">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="secondary-slider ">
                <div class="splide__track h-36">
                    <ul class="splide__list flex flex-row ">
                        <li class="splide__slide">
                            <div class="w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-auto h-auto">
                            </div>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-auto h-auto">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-auto h-auto">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-auto h-auto">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-auto h-auto">
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class=" w-auto bg-white">
                                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" alt="" class="w-auto h-auto">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="h-auto w-auto bg-white lg:flex-grow flex flex-col gap-2 px-4 mt-24 ">
            <div class="lg:w-72 lg:mt-12 w-auto h-auto px-4 py-3 mx-4 rounded bg-primary-darker lg:flex-none ">
                <form action="">
                    <h3 class="font-h2 text-white mb-2">Rerserva</h3>
                    <h6 class="mb-1 font-h6 text-white">Fecha de entrada</h6>
                    <div class="inline-block relative w-full mb-4">
                        <div class="absolute inset-y-0 left-0 mx-1 flex items-center px-2 text-primary-lighter">
                            <svg class="fill-current h-5 w-5" style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                            </svg>
                        </div>
                        <input type="text" placeholder="Entrada"
                            class="block appearance-none pl-11 pr-8 w-full input-container-on-primary rounded"
                            id="fecha_entrada">
                        </input>
                    </div>
    
                    <h6 class="mb-1 font-h6 text-white">Fecha de salida</h6>
                    <div class="inline-block relative w-full lg:w-auto mb-4">
                        <div class="absolute inset-y-0 left-0 mx-1 flex items-center px-2 text-primary-lighter">
                            <svg class="fill-current h-5 w-5" style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                            </svg>
                        </div>
                        <input type="text" placeholder="Salida"
                            class="block appearance-none pl-11 pr-8 w-full input-container-on-primary rounded"
                            id="fecha_salida">
                        </input>
                    </div>
                    <h6 class="mb-1 font-h6 text-white">Tipo de habitación</h6>
                    <div class="inline-block relative w-full">
                        <div class="absolute inset-y-0 left-0 mx-1 flex items-center px-2 text-primary-lighter">
                            <svg class="fill-current h-5 w-5" style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                            </svg>
                        </div>
                        <select class="block appearance-none pl-10 pr-8 w-full input-container-on-primary rounded">
                            <option>Cualquiera</option>
                            <option>Indivual</option>
                            <option>Matrimonial</option>
                            <option>Suite</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                        </div>
                    </div>
    
                    <input type="button" class="mb-2 mt-6 btn-filled py-2 w-full text-white" id="destino" value="Reservar">
                </form>
            </div>
        </div>
    </div>

        
    
        
        
    <!-- 
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
            <div class=" col-span-2 row-span-2 bg-white p-3 rounded">
                <img src="/src/img/edvin-johansson-rlwE8f8anOc-unsplash.jpg" class="h-full w-full object-cover" alt="">
            </div>
            <div class="bg-white p-3 rounded">
                <img src="/src/img/edvin-johansson-rlwE8f8anOc-unsplash.jpg" class="h-full w-full object-cover" alt="">
            </div>
            <div class="bg-white p-3 rounded">
                <img src="/src/img/edvin-johansson-rlwE8f8anOc-unsplash.jpg" class="h-full w-full object-cover" alt="">
            </div>
        </div>
    -->
    <div class="text-black font-h1 mt-16 pb-2">
        Ubicación en el mapa
    </div>
    <div class="flex  pb-2 ">
        <span class="font-subtitle text-black mr-2">Direccion:</span>
        <span class="font-subtitle text-gray-500 ">Arenales 332</span>
    </div>
    <div class="flex  flex-col ">
        <div class="lg:mt-6 w-auto h-full lg:flex-none">
            <div class="h-auto w-full bg-white lg:flex-grow flex flex-col  ">

                <div id ="map-template" class="h-96 w-full rounded-2xl"></div>

            </div>
            <div class="mt-16">
                <h2 class="text-black text-3xl font-semibold">El alojamiento ofrece</h2>
                <div class="flex pl-3 pt-6">
                    <div class="flex flex-row flex-col">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.111 16.404a5.5 5.5 0 017.778 0M12 20h.01m-7.08-7.071c3.904-3.905 10.236-3.905 14.141 0M1.394 9.393c5.857-5.857 15.355-5.857 21.213 0" />
                        </svg>
                    </div>
                <p class="pl-3 font-h5">
                    Wi-Fi en zonas comunes
                </p>
            </div>
            <div class="flex pl-3 pt-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
                <div class="pl-3 font-h5">
                    Ventajas
                    <li class="font-h6 text-gray-600">Servicio a la habitación</li>
                    <li class="font-h6 text-gray-600">Desayuno</li>
                    <li class="font-h6 text-gray-600">Calefaccion</li>
                    <li class="font-h6 text-gray-600">Ascensor</li>
                    <li class="font-h6 text-gray-600">Recepción 24 hrs</li>
                </div>
            </div>
            <div class="flex pl-3 pt-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd" />
                </svg>
                <div class="pl-3 font-h5">
                    Diversión y ocio
                    <li class="font-h6 text-gray-600">Tv en zonas comunes</li>
                </div>
            </div>
        </div>
        
    </div>
</div>

