<div class="md:container mx-auto text-justify pb-10 text-primary-lighter"> 
    <div class=" text-5xl font-semibold py-10 text-center">Política general de privacidad de BookingUNAJ</div>
    <div class = "px-20">
        <div class="py-5">
            El portal web de Booking UNAJ se ha desarrollado adoptando una serie de medidas
            con el objetivo de mejorar su accesibilidad, y que pueda ser navegado
            por el mayor número de usuarios con independencia de sus limitaciones personales o tecnológicas. 
            Para ello se ha trabajado sobre la base de los requisitos de Prioridad 1 y Prioridad 2
            de la Norma UNE 139803:2012 Requisitos de Accesibilidad para contenidos en la web,
            que se corresponde con el nivel de conformidad AA (Doble-A) de las pautas internacionales
            de Accesibilidad para el Contenido Web WCAG 2.0 definidas por el Consorcio para la World Wide Web (W3C).
        </div>
        <div class="font-semibold text-center">Fecha de entrada en vigencia: julio de 2021</div>
        <div class="py-5">
            Esta política de privacidad aplica a BookingUNAJ y describe cómo BookingUNAJ recopila y utiliza la
            información personal y los datos personales que proporcionas en nuestra página web
            https://bookingunaj.com ("Página web”) o a través de productos ofrecidos por BookingUNAJ
            (“Productos”). La Página web y los Productos de BookingUNAJ en su conjunto en adelante serán
            denominados “Servicios". Esta política de privacidad afecta a propietarios, empleados, representantes
            o cualquier otro individuo que actúe en nombre de una parte a la que BookingUNAJ
            preste los Servicios. Actuamos en beneficio de nuestros socios colaboradores
            y nos esforzamos por ser transparentes en cuanto al procesamiento de los datos personales.
        </div>
        <div class="py-5">
            <div class="font-semibold text-justify">Recopilación de datos</div>
            <div>    
                Para registrar tu propiedad, y con el objetivo de garantizarte el acceso y uso de nuestros Servicios,
                BookingUNAJ te solicita que proporciones la siguiente información, que incluye datos personales:
            </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Datos de contacto</div>
            <div>
                Recopilamos tus datos de contacto, como nombre, apellidos, fecha de nacimiento
                (cuando sea necesario), dirección de e-mail profesional, dirección postal de tu negocio,
                número de teléfono y número de fax.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Productos y servicios</div>
            <div>
                registramos los productos y/o servicios que se te ofrecen a través de BookingUNAJ.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Otros</div>
            <div>
                Cuando te pongas en contacto con BookingUNAJ, BookingUNAJ recopilará y procesará dichas comunicaciones.
                Durante las llamadas con nuestro Centro de Atención al Cliente, se harán escuchas en tiempo real
                o se grabarán dichas llamadas para realizar controles de calidad y por motivos de formación. 
                Asimismo, podrían usarse dichas grabaciones para procesar reclamaciones y por motivos de detección
                de fraude. Las grabaciones se guardan por tiempo limitado y se eliminan automáticamente, 
                a menos que BookingUNAJ tenga el interés legítimo de guardar dichas grabaciones por un período
                de tiempo más prolongado, además de por motivos legales y de investigación de fraude.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Información que recopilamos de forma automática</div>
            <div>
                Cuando usas los Servicios, BookingUNAJ también recopila de forma automática información
                que puede contener datos personales. Esta información incluye la configuración de idioma, 
                la dirección IP, la ubicación, la configuración del dispositivo, el sistema operativo del
                dispositivo, la información de registro, el tiempo de uso, la URL solicitada, el informe 
                de estado, el agente de usuario (información sobre la versión del navegador), el sistema 
                operativo, el resultado (visitante o comprador), el historial de navegación, el ID de reserva
                del usuario y el tipo de información visualizada. BookingUNAJ también recopila información 
                de forma automática a través de cookies. 
            </div>
        </div>
        <div class="py-5">
            <div>    
                Utilizamos la información que nos facilitas, entre la que puede haber datos personales,
                con los siguientes fines:
            </div>
            <div>
                <ul class="list-decimal px-20 py-10">
                    <li class="py-2">  
                        <div class="font-semibold text-justify">Registro y administración de la cuenta:</div>
                        <div>
                            utilizamos la información para dar de alta tu alojamiento y permitirte a ti
                            y a BookingUNAJ administrar y gestionar los Productos que te ofrecemos.
                        </div>
                    </li>
                    <li class="py-2">  
                        <div class="font-semibold text-justify">Completar el registro:</div>
                        <div>
                            si no has finalizado el registro online, te enviaremos un recordatorio para que
                            continúes con el registro. Creemos que este servicio adicional puede serte útil
                            y te permitirá continuar con el registro sin tener que volver a rellenar los datos
                            introducidos de nuevo. Los recordatorios por e-mail contienen una opción para darse
                            de baja que podrás usar en caso de que no quieras que te enviemos mensajes en el futuro.
                        </div>
                    </li>
                    <li class="py-2">  
                        <div class="font-semibold text-justify">Atención al cliente:</div>
                        <div>
                            utilizamos la información para ofrecerte servicios de atención al cliente,
                            como responder a tus peticiones, preguntas y dudas.
                        </div>
                    </li>
                    <li class="py-2">  
                        <div class="font-semibold text-justify">Marketing/Comunicaciones:</div>
                        <div>
                            utilizamos la información para ofrecerte la información solicitada, enviarte
                            nuestras newsletters y notificaciones de marketing y actualizaciones sobre nuevos
                            Productos, servicios u otras novedades que creemos que pueden ser de tu interés.
                            Siempre que utilicemos tus datos personales con fines comerciales, como enviarte
                            las newsletters y notificaciones de marketing sobre nuevos Productos o servicios
                            u otras ofertas que creemos que pueden ser de tu interés, incluiremos un enlace de
                            baja que podrás utilizar si no deseas que te enviemos mensajes en el futuro. También
                            podemos invitarte a asistir a eventos que creemos que pueden interesarte. Asimismo,
                            podemos utilizar tus datos personales para invitarte a participar en programas de
                            recomendación o concursos.
                        </div>
                    </li>
                    <li class="py-2">  
                        <div>
                            Ciertos Productos ofrecen herramientas de comunicación con tus clientes o proveedores
                            que incluyen a BookingUNAJ como destinatario. BookingUNAJ tiene acceso a estas
                            comunicaciones y utiliza sistemas automáticos para revisar, examinar y analizar
                            dichas comunicaciones por motivos de seguridad y prevención de fraude, para cumplir
                            con los requerimientos legales y legislativos, para investigar potenciales
                            incumplimientos o bien por motivos de desarrollo y mejora de productos, investigación
                            y atención al cliente o asistencia técnica. BookingUNAJ almacena todas las comunicaciones
                            enviadas y recibidas.
                        </div>
                    </li>
                    <li class="py-2">  
                        <div class="font-semibold text-justify">Análisis, mejoras e investigación:</div>
                        <div>
                            utilizamos la información y los datos personales para realizar investigaciones
                            y análisis. Podemos solicitar la participación de una tercera parte para que las
                            realice en nuestro nombre. Podemos compartir o revelar los resultados de dichas
                            investigaciones, incluidos a nuestros afiliados y a terceros, de forma conjunta y anónima.
                            También utilizamos la información, que puede incluir datos personales, para valorar las
                            necesidades de tu negocio, establecer productos adecuados y mejorar nuestros Servicios
                            y estrategias de marketing. Podemos invitarte a participar en encuestas
                            (investigaciones de mercado, por ejemplo) y a analizar cómo mejorar la experiencia,
                            la funcionalidad y la calidad de nuestros Productos. Revisa la información proporcionada
                            cuando te invitemos a participar en una encuesta o investigación de mercado, ya que tu 
                            información personal podría tratarse de forma diferente a la prevista en esta política
                            de privacidad.
                        </div>
                    </li>
                    <li class="py-2">  
                        <div class="font-semibold text-justify">Seguridad y detección y prevención de fraude:</div>
                        <div>
                            utilizamos la información y los datos personales
                            para prevenir el fraude y otras actividades ilegales o que infrinjan la ley tanto al usar
                            el Sitio web como al usar nuestros Productos. También utilizamos esta información para
                            investigar y detectar el fraude. BookingUNAJ puede utilizar datos personales para evaluar
                            riesgos y por motivos de seguridad, incluida la verificación de usuarios. A tal fin, los datos
                            personales pueden compartirse con terceras partes, como autoridades policiales y asesores
                            externos, en la medida en que lo permita la ley.
                        </div>
                    </li>
                    <li class="py-2">  
                        <div class="font-semibold text-justify">Legalidad y cumplimiento:</div>
                        <div>
                            en determinados casos, BookingUNAJ necesita usar la información
                            proporcionada, que puede incluir datos personales, para gestionar y resolver disputas
                            legales o reclamaciones, en procedimientos de investigación y cumplimiento normativo,
                            para cumplir acuerdo(s) o para obedecer los requerimientos legales de las autoridades
                            policiales, siempre que lo exija la ley.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="py-5">
            <div>
                En el caso de que utilicemos medios automatizados para procesar datos personales
                que pudieran tener efectos jurídicos o que te afectaran significativamente, implementaremos
                las medidas necesarias para salvaguardar tus derechos y libertades, incluido el derecho
                a obtener intervención humana.
            </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Bases legales</div>
            <div>
                Para cumplir los propósitos A y C, BookingUNAJ se ampara en la base legal de que el
                procesamiento de tus datos personales es necesario para el desarrollo de tu acuerdo
                con BookingUNAJ. Si no proporcionas la información solicitada, BookingUNAJ no puede registrar
                tu alojamiento ni permitirte que administres ni gestiones los Productos, ni ofrecerte servicios
                de atención al cliente. Para cumplir los propósitos B, D, E, F, G y H, BookingUNAJ se ampara en sus
                intereses comerciales legítimos para proporcionarte los Servicios, prevenir acciones de fraude y
                mejorar los Servicios. Si usamos tus datos personales para cumplir con nuestros intereses comerciales,
                BookingUNAJ dará prioridad a tus derechos e intereses en cuanto a la protección de tu información 
                frente a los derechos e intereses de BookingUNAJ. Para cumplir el propósito B, BookingUNAJ se ampara, 
                siempre que se aplicable, en el cumplimiento de nuestras obligaciones legales, como las peticiones 
                de las autoridades policiales. De ser necesario bajo la ley aplicable, BookingUNAJ solicitará tu
                consentimiento antes de procesar tus datos personales para determinados fines de marketing.
            </div>
            <div>
                Si deseas oponerte al procesamiento establecido en los propósitos B, D, E y F y
                no dispones de ningún mecanismo para darte de baja directamente (por ejemplo, desde la configuración
                de tu cuenta) ponte en contacto con nosotros a través del e-mail contacto@bookingunaj.com.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify pb-5">Intercambio de datos</div>
            <div class="py-5">
                <div class="font-semibold"> Compartir con Afiliados: </div>
                <div>
                    con el objetivo de dar apoyo al uso de los Servicios,
                    podemos compartir tu información personal con subsidiarias del grupo empresarial de BookingUNAJ.com
                    que podrían actuar como proveedores de servicios para BookingUNAJ, incluidas aquellas relacionadas
                    con servicios de atención al cliente. En la medida en que lo permita la ley, también podemos compartir
                    tu información con fines analíticos y de detección y prevención de fraude. Si la ley lo requiere,
                    te pediremos tu consentimiento antes de que nuestros Afiliados utilicen tus datos personales
                    para otros propósitos, como notificaciones de marketing.
                <div>
            </div>
            <div class="py-5">
                <div class="font-semibold"> Compartir con terceras partes: </div>
                <div>
                    podemos compartir tu información personal con terceras partes
                    en la medida en que lo permita la ley, tal y como se especifica a continuación. No venderemos
                    ni alquilaremos tu información personal.
                </div>
            </div>
            <div class="py-5">
                <div class="font-semibold"> Proveedores de servicios (incluidos proveedores): </div>
                <div>
                    podemos compartir información personal con proveedores de servicios de terceros para
                    proporcionar nuestros Servicios, almacenar datos y/o mantener la Página web o realizar
                    negocios en nuestro nombre. Dichos proveedores de servicios únicamente procesarán tus 
                    datos personales de acuerdo con nuestras instrucciones y para proporcionar los servicios
                    de BookingUNAJ.
                <div>
            </div>
            <div class="py-5">
                <div class="font-semibold">Socios colaboradores: </div>
                <div>
                    podemos compartir información personal, siempre que así lo indiques, con 
                    socios colaboradores para permitirles ofrecerte servicios.
                </div>
            <div class="py-5">
                <div class="font-semibold"> Proveedores de pago y otras instituciones financieras: </div>
                <div>
                    para procesar pagos entre tú y BookingUNAJ y/o terceras partes a través de BookingUNAJ,
                    compartimos información personal con los proveedores de pago y otras instituciones financieras.
                </div>
            </div>
            <div class="py-5">
                <div class="font-semibold"> Divulgación obligada: </div>
                <div>
                    cuando lo exija la ley, ya sea estrictamente necesario para la ejecución
                    de los Servicios o para proteger nuestros derechos, podemos revelar tu información personal a las
                    autoridades gubernamentales y a las autoridades encargadas del cumplimiento de la ley
                    (bajo requerimiento legal), a los afiliados que formen parte de BookingUNAJ, o en el
                    transcurso de procedimientos legales.
                </div>
            </div>
            <div class="py-5">
                <div class="font-semibold"> Venta o fusión: </div>
                <div>
                    podemos compartir tus datos personales en caso de fusión, adquisición o venta
                    de toda o una parte de nuestros activos. En este caso, te lo notificaremos por e-mail
                    y/o a través de un aviso destacado en nuestra Página web, y te informaremos de tus derechos.
                </div>
            </div>
            <div class="py-5">
                <div class="font-semibold"> Compartir y divulgar datos agregados: </div>
                <div>
                    podemos compartir datos de forma agregada, y/o de forma que
                    el destinatario de estos datos no te identifique, con terceras partes. Por ejemplo, para la
                    elaboración de análisis demográficos o de industria.
                </div>
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Transferencia internacional de datos</div>
            <div>
                La transmisión de datos personales, tal y como se describe en esta Política de Privacidad,
                puede incluir transferencias internacionales de datos personales a países cuya legislación
                en materia de protección de datos no sea tan exhaustiva como en los países de la Unión Europea.
                En los casos previstos por la legislación europea, BookingUNAJ solo transferirá datos personales
                a los destinatarios que garanticen un nivel adecuado de protección de datos. En estas situaciones,
                y siempre que sea necesario, realizaremos acuerdos contractuales para garantizar que tus datos personales
                sigan protegidos de acuerdo con los estándares europeos. Puedes solicitarnos una copia de estos
                acuerdos contractuales a través de los datos de contacto que encontrarás más abajo.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Seguridad</div>
            <div>
                BookingUNAJ cumple procedimientos razonables para prevenir el acceso no autorizado a, y el mal uso de,
                información que incluye datos personales. Utilizamos sistemas comerciales y procedimientos apropiados
                para salvaguardar la información que contenga datos personales. También usamos procedimientos de
                seguridad y restricciones técnicas y físicas para acceder y utilizar los datos personales de
                nuestros servidores. Solo el personal autorizado tiene permiso para acceder a tus datos personales
                durante el transcurso de su trabajo.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Conservación de datos</div>
            <div>
                Conservaremos tu información personal el tiempo que consideremos necesario con el objetivo de
                permitirte usar nuestros Servicios, ofrecerte nuestros Servicios, cumplir con las normativas
                aplicables y resolver disputas con cualquier parte implicada, además de para cualquier otra
                función que sea necesaria a fin de poder desempeñar nuestra actividad comercial, incluida la
                detección y prevención de fraude y otras actividades ilegales. Todos los datos personales
                que conservemos se regirán por esta Política de Privacidad. Si tienes alguna pregunta
                sobre el período de conservación de determinados tipos de datos personales, ponte en contacto
                con nosotros a través de los datos de contacto que figuran más abajo.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Tus opciones y derechos</div>
            <div>
                Queremos que sepas en todo momento cómo utilizamos tus datos personales. Para ello
                ponemos a tu disposición las siguientes opciones:
            </div>
            <ul class="list-disc px-20 py-10">
                <li class="py-2">  
                    <div>
                        Puedes pedirnos una copia de los datos personales que tenemos sobre ti.
                    </div>
                </li>
                <li class="py-2">  
                    <div>
                        Puedes informarnos de cualquier cambio en tus datos personales o puedes solicitarnos
                        que corrijamos cualquier dato personal que conservemos sobre ti, aunque es posible
                        que puedas hacer los cambios necesarios personalmente en nuestra Página web.
                    </div>
                </li>
                <li class="py-2">  
                    <div>
                        En determinadas situaciones, puedes pedirnos que eliminemos o bloqueemos, o restrinjamos
                        el procesamiento, de cualquier dato personal que conservemos sobre ti, o bien oponerte
                        a la forma en la que usamos tus datos personales.
                    </div>
                </li>
                <li class="py-2">  
                    <div>
                        En determinadas situaciones, puedes pedirnos que enviemos los datos personales
                        que nos has dado a una tercera parte.
                    </div>
                </li>
            </ul>
        </div>
        <div class="py-5">
            En los casos en los que usemos tus datos personales en base a tu consentimiento, tienes derecho a revocar
            ese consentimiento en cualquier momento de acuerdo con la ley aplicable. En los casos en los que procesemos
            tus datos personales en base a nuestro interés legítimo o al interés público, tienes derecho a objetar
            en cualquier momento acerca del uso de tus datos personales de acuerdo con la ley aplicable.
        </div>
        <div class="py-5">    
            Confiamos en ti para garantizar que tus datos personales son rigurosos y están completos y actualizados.
            Rogamos que nos informes de inmediato acerca de cualquier cambio o imprecisión en tus datos personales
            a través del e-mail contacto@bookingunaj.com.
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Preguntas o reclamaciones</div>
            <div>
                Si tienes cualquier pregunta o reclamación en relación con el procesamiento de tus datos personales,
                puedes enviarnos un e-mail a contacto@bookingunaj.com o ponerte en contacto con nuestro responsable
                de protección de datos a través del e-mail contacto@bookingunaj.com. Si quieres ejercer cualquiera
                de los derechos contemplados en esta Política de Privacidad, ponte en contacto con nuestro responsable
                de protección de datos a través del e-mail contacto@bookingunaj.com. Todas las preguntas
                y reclamaciones que se envíen a BookingUNAJ se investigarán. BookingUNAJ intentará resolver las
                reclamaciones y las preguntas siguiendo la política interna. También puedes ponerte en contacto
                con tu autoridad de protección de datos local para resolver tus preguntas o reclamaciones.
            </div>
        </div>
        <div class="py-5"> 
            <div class="font-semibold text-justify">Cambios en la Política de Privacidad</div>
            <div>
                Nuestro negocio cambia constantemente. Por eso, esta política de privacidad también puede cambiar cada
                cierto tiempo. Para mantenerte al tanto de los cambios realizados en esta Política de Privacidad,
                visita esta página de vez en cuando. Si realizamos algún cambio que pueda afectarte (p. ej. si procesamos
                tus datos personales para otros propósitos de los contemplados en estas condiciones), nos pondremos
                en contacto contigo antes de hacerlo.
            </div>
        </div>
    </div>
</div>