<div class="md:container mx-auto text-justify pb-10 text-primary-lighter"> 
    <div class=" text-5xl font-semibold py-10 text-center">¿Qué hacemos?</div>
    <div class = "px-20">
        Booking UNAJ es un mercado comunitario que sirve para publicar, dar publicidad y reservar alojamiento
        de forma económica en más de 1500 hoteles de Argentina desde la comodidad de tu hogar.
        Este sistema permite al usuario encontrar el alojamiento que mejor se adapte a sus necesidades,
        ahorrando tiempo de búsqueda.
    </div>
    <div class=" text-5xl font-semibold py-10 text-center">¿Cómo funciona?</div>
        <ul class="px-20">
            <li class="pb-5 pt-3">
                <div class="font-semibold">Booking UNAJ es facil de usar</div>
                <div class="font-light">Al ingresar a la página se deberá ingresar un destino y el buscador
                hará el trabajo por usted.</div>
            </li>
            <li class="py-5">
                <div class="font-semibold">Visita sin login</div>
                <div class="font-light">No es necesario estar registrado en la página para poder buscar hoteles,
                pero sí para poder confirmar su reserva.</div>
            </li>
            <li class="py-5">
                <div class="font-semibold">Filtros de búsqueda</div>
                <div class="font-light">Se pueden utilizar distintos filtros como tipo de habitación y cantidad 
                    de estrellas.
            </li>
            <li class="py-5">
                <div class="font-semibold">Reserva tus habitaciones</div>
                <div class="font-light">Tanto a tí como al dueño del hotel se les enviará un mail con la información de contacto 
                de la contraparte.</div>
            </li>
            <li class="py-5">
                <div class="font-semibold">El dueño del hotel te está esperando</div>
                <div class="font-light">Ponte en contacto con el dueño del hotel para realizar el pago del servicio,
                de forma privada y sin intermediarios.
            </li>
        </ul>
    </div>
</div>