<div class="md:container mx-auto text-justify pb-10 text-primary-lighter"> 
    <div class=" text-5xl font-semibold py-10 text-center">Términos y condiciones</div>
    <div class = "px-20">
        <div class="py-5">
            <div class="font-semibold">Introducción a los términos y condiciones</div>
            Estos términos y condiciones (que pueden ser modificados cada cierto tiempo) son aplicables 
            a todos los servicios directos o indirectos (a través de los distribuidores) disponibles online, 
            a través de cualquier dispositivo móvil, por correo electrónico o por teléfono. Al acceder, 
            navegar y usar nuestro sitio web (móvil) o cualquiera de nuestras aplicaciones disponibles 
            a través de plataformas ("la Plataforma") y/o realizar una reserva, aceptás haber leído, 
            entendido y estar de acuerdo con los términos y condiciones que se muestran a continuación 
            (incluyendo el fragmento referente a la privacidad). Estas páginas, su contenido, infraestructura 
            y el servicio de reservas de propiedades online que proporcionan (incluyendo el servicio de 
            facilitación de pago) pertenecen y son gestionadas y suministradas por BookingUNAJ. 
            Solo pueden ser utilizadas con fines personales y no comerciales (de empresa a consumidor), 
            conforme a los términos y condiciones especificados a continuación. La relación que tenemos 
            con los Proveedores de viaje está regulada por otros términos y condiciones distintos de los 
            que regulan las relaciones comerciales (de empresa a empresa) que tenemos con cada uno de esos 
            Proveedores de viaje. Cada Proveedor de viaje actúa de forma profesional frente a BookingUNAJ 
            cuando publica su producto y/o servicio en BookingUNAJ o a través de BookingUNAJ (en su 
            relación de empresa a empresa y/o su relación de empresa a consumidor). 
            Tené en cuenta que los Proveedores de viaje pueden tener, declarar aplicables y/o requerir 
            (el aceptamiento de) sus propios términos y condiciones (de entrega, envío, transporte y uso) 
            y políticas generales para el uso, acceso y consumación del Viaje (que puede incluir algunos 
            descargos de responsabilidad y limitación de obligaciones).
        </div>
        <div>
            <ul class="list-decimal">
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Ámbito y naturaleza de nuestro servicio</div>
                    <div class="font-light">
                        A través de la Plataforma, nosotros (BookingUNAJ y sus afiliados [de distribución])
                        proporcionamos una plataforma online a través de la cual los Proveedores de viaje
                        pueden anunciar, publicitar, promocionar y/o ofrecer (según corresponda) sus 
                        productos y servicios para ser pedidos, reservados, comprados o alquilados, y a través 
                        de la cual los usuarios pueden navegar, buscar, comparar, pedir, reservar. 
                        Desde el momento en que realizás la Reserva de viaje, nosotros actuamos únicamente 
                        como intermediarios entre vos y el Proveedor de viaje. Trasmitimos los datos 
                        relevantes de la Reserva de viaje al Proveedor de viaje que corresponda y te enviamos 
                        un e-mail de confirmación en representación del Proveedor de viaje. 
                        BookingUNAJ no vende, revende, alquila ni ofrece ningún producto o servicio (de viaje).
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Oferta de un Colaborador</div>
                    <div class="font-light">
                        BookingUNAJ puede mostrar ofertas que no hayan sido tomadas directamente de un Proveedor
                        de Reserva, sino que sean facilitadas por una empresa colaboradora, como otra plataforma
                        (Oferta de un Colaborador).    
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Privacidad y cookies</div>
                    <div class="font-light">
                        BookingUNAJ respeta tu privacidad. Consulta nuestra politica de privacidad 
                        y cookies para obtener más información. 
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Sin cargo para los consumidores, ¡solo pagan los Hoteles!</div>
                    <div class="font-light">
                        A menos que se indique lo contrario, nuestro servicio es gratuito porque,
                        a diferencia de otras partes, no cobramos nuestro Servicio de Reserva. Vas a pagarle
                        al hotel el monto correspondiente a la reserva de hotel directamente al proveedor del servicio,
                        de manera ajena y externa a nuestros servicios. Los proveedores pagan una comisión
                        (un porcentaje pequeño del precio del producto –por ejemplo, el precio una habitación–)
                        a BookingUNAJ después de que el usuario haya utilizado el servicio o producto del 
                        Proveedor de Reserva (por ejemplo, que el huésped se haya alojado (y haya pagado) 
                        en la propiedad). Los Proveedores de Reserva pueden mejorar su posicionamiento 
                        en el ranking aumentando el porcentaje de comisión (Aumento de visibilidad). 
                        El uso del mecanismo de Aumento de visibilidad (incrementar la comisión a 
                        cambio de un mejor posicionamiento en el ranking) queda a discreción de cada 
                        Proveedor de Reserva y se podrá aplicar en el período y el producto que crea 
                        conveniente. Al momento de determinar el ranking por defecto, el algoritmo 
                        del ranking va a tomar en cuenta los aumentos de comisión. Las propiedades 
                        preferentes pagan un porcentaje de comisión mayor y a cambio obtienen un mejor 
                        posicionamiento en el ranking.
                        Solamente los Provedores de Reserva que tengan una relación comercial con 
                        BookingUNAJ (a través de un acuerdo) se van a publicar en la Plataforma 
                        (para promocionar su producto a empresas o clientes particulares). 
                        BookingUNAJ no es una plataforma abierta (como Amazon o eBay) en la 
                        que los mismos usuarios pueden publicar su producto (es decir, no es una 
                        plataforma de transacciones entre usuarios particulares); BookingUNAJ no 
                        permite que usuarios no profesionales ofrezcan o vendan sus productos a 
                        través de BookingUNAJ.
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Cancelación, huéspedes no presentados e información a tener en cuenta</div>
                    <div class="font-light">
                        Al realizar una reserva a un Proveedor de Reserva, aceptás sus políticas de cancelación
                        y no show (si no te presentás) correspondientes, así como otros términos y condiciones
                        adicionales (de entrega) del Proveedor de Reserva que puedan aplicar a tu Viaje
                        (incluyendo la información a tener en cuenta que el Proveedor de Reserva haya publicado
                        en nuestra Plataforma y las reglas de la casa del Proveedor de Reserva), lo que incluye
                        los servicios y/o productos ofrecidos por el Proveedor de Reserva. Los términos y
                        condiciones (de entrega, compra, uso o envío) correspondientes de un Proveedor de Reserva
                        se pueden obtener directamente a través del Proveedor de Reserva. Las condiciones generales
                        de cancelación y no show de cada proveedor están a tu disposición en nuestra plataforma,
                        tanto en las páginas de información del proveedor como durante el proceso de reserva y en
                        el e-mail o recibo de confirmación (en caso de que aplique). Tené en cuenta que algunas
                        tarifas u ofertas especiales no permiten cambios ni cancelaciones ni contemplan reembolsos.
                        En casos de no show (no presentado) o cancelaciones con cargos, es posible que el Proveedor
                        de Reserva igual cobre los impuestos turísticos o municipales correspondientes.
                        Consultá los datos (de reserva) de tu producto o servicio para ver las condiciones
                        antes de realizar la reserva. Tené en cuenta que una Reserva que requiera del pago de
                        un depósito o de pago por adelantado (total o parcial) puede ser cancelada
                        (sin necesidad de preaviso) siempre que (el resto de) los montos pendientes no puedan
                        ser cobrados en su totalidad en la fecha pertinente, de acuerdo con las condiciones de
                        pago del Proveedor de Reserva y las condiciones de la reserva. Las políticas de cancelación
                        y de pago por adelantado pueden variar según el segmento, el producto o el servicio
                        de cada Viaje. Leé atentamente la información a tener en cuenta
                        (se encuentra en nuestra Plataforma, debajo de los tipos de habitación o en la parte
                        inferior del la página de cada Proveedor de Viaje) y la información importante
                        en la confirmación de la reserva para enterarte de las políticas adicionales
                        que puede aplicar el Proveedor de Reserva (por ejemplo, requisitos de edad,
                        depósito de seguridad, reserva de grupos sin cancelación o con suplementos adicionales,
                        camas extras, desayuno no incluido, mascotas y tarjetas de crédito que se aceptan).
                        Los retrasos en el pago, los datos bancarios y de tarjetas de crédito o débito erróneos,
                        las tarjetas de crédito o débito no válidas o con saldo insuficiente quedan bajo tu
                        responsabilidad y no vas a poder reclamar devoluciones de pagos (no reembolsables)
                        por adelantado si se diera alguno de estos casos, a menos que el Proveedor de Reservas
                        así lo acepte o permita en sus condiciones de cancelación y pago (por adelantado).
                        Si querés revisar, modificar o cancelar tu reserva, consultá el e-mail de confirmación
                        y seguí las instrucciones indicadas. Tené en cuenta que se te podrían cobrar cargos
                        adicionales por cancelación conforme a las condiciones de cancelación,
                        pago (por adelantado) y no show (si no te presentas) del Proveedor de viaje,
                        o que podrías no tener derecho a reclamar montos pagados (por adelantado).
                        Te recomendamos que leas con detenimiento las condiciones de cancelación,
                        pago (por adelantado) y no show del alojamiento antes de realizar la reserva y que
                        recuerdes hacer los pagos posteriores a tiempo ya que pueden ser necesarios para
                        la reserva correspondiente.
                        Si vas a llegar tarde o sufrís algún retraso el día del check-in,o si vas
                        a llegar al día siguiente, asegurate de comunicárselo (con tiempo o lo antes posible)
                        al Proveedor de Reserva para que sepan cuándo vas a llegar y así evitar
                        que te cancelen (la Reserva de) el Viaje o que te cobren el adicional por no presentarte.
                        Si lo necesitás, nuestro departamento de Atención al Cliente puede ayudarte
                        a informarle la situación al Proveedor de Reserva. BookingUNAJ no se hace
                        responsable de las consecuencias que pueda tener tu retraso, o de cualquier
                        cancelación o cargo por no presentarte que pueda realizar el Proveedor de viaje.
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">''Correspondencia adicional''</div>
                    <div class="font-light">
                        Al hacer una Reserva de viaje, aceptás recibir (i) un e-mail que podemos enviarte poco
                        antes de tu fecha de llegada, en el que vas a encontrar información sobre el destino
                        y otros datos y ofertas (entre ellas ofertas de terceros, siempre y cuando hayas aceptado
                        recibirlas) que sean relevantes para tu (Reserva de) viaje y destino, (ii) un e-mail
                        después de tu llegada para calificar la experiencia con tu Proveedor de Reserva,
                        y (iii) un e-mail que podemos enviarte después de tu estadía, invitándote a completar
                        un formulario de comentarios de huéspedes. Consultá nuestra política de privacidad
                        y cookies para más información acerca de cómo podemos ponernos en contacto con vos.
                        BookingUNAJ.com no se hace responsable por cualquier comunicación con o del Proveedor
                        de Reserva en su plataforma o a través de ella. No se deriva derecho alguno de cualquier
                        pedido o comunicación con el Proveedor de Reserva o (cualquier tipo de) reconocimiento
                        de recibo de cualquier comunicación o pedido. BookingUNAJ no puede garantizar que ningún
                        pedido o comunicación será recibido o leído en tiempo y forma, cumplido, ejecutado
                        ni aceptado por el Proveedor de viaje. Para completar y garantizar tu Reserva de forma
                        adecuada, tenés que usar tu dirección de coreo electrónico correcta. No somos responsables
                        de direcciones de correo electrónico erróneas o mal escritas ni tampoco de números de teléfono
                        celular o de tarjeta de crédito equivocados. Tampoco tenemos obligación de verificarlos.
                        Cualquier queja o reclamo contra BookingUNAJ o con respecto al Servicio de Reserva
                        debe ser enviada de inmediato y hasta 30 días después del día programado de consumo
                        del producto o servicio (por ejemplo, la fecha de salida). Todo reclamo o queja enviados
                        después de este período de 30 días puede ser rechazado y la persona que presente el
                        reclamo perderá su derecho de percibir una compensación (por daños o costos).
                        <div class="py-2 italic">Due to the continuous update and adjustments of rates and availability, we strongly
                        suggest to make screenshots when making a reservation to support your position (if needed).</div>
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Exención de responsabilidad</div>
                    <div class="font-light">
                        Conforme a las limitaciones indicadas en estos términos y condiciones, 
                        y en la medida que esté permitido por la ley, solo nos hacemos responsables de los daños 
                        directos que sufras, pagues o contraigas a causa de defectos atribuibles a nuestras 
                        obligaciones en referencia a nuestros servicios, hasta una cantidad total del costo total 
                        de tu reserva, como se indica en el e-mail de confirmación de la Reserva (ya sea por un 
                        suceso o por una serie de sucesos). Sin embargo, y en la medida en que esté permitido 
                        por la ley, ni nosotros ni ninguno de nuestros directores, empleados, representantes, 
                        subsidiarios, empresas afiliadas, distribuidores afiliados, licenciatarios, agentes 
                        u otras personas involucradas en el proceso de creación, patrocinio y promoción de la 
                        página web y sus contenidos será responsable de: (i) pérdidas o daños punitivos, especiales,
                        indirectos o consecuentes, pérdidas de producción, de beneficios, ingresos, contratos, 
                        así como de pérdidas o daños de clientes o de reputación y pérdidas de demandas; (ii) 
                        errores relacionados con la descripción de la información (incluida la información sobre 
                        tarifas, disponibilidad y puntajes) del Proveedor de Reserva en nuestra plataforma; 
                        (iii) servicios prestados o productos ofrecidos por el Proveedor de Reservas u otros 
                        socios de negocio; (iv) pérdidas, daños o costos (directos, indirectos, consecuentes 
                        o punitivos) que sufras, contraigas o pagues, surgidos o relativos al uso, indisponibilidad 
                        o retraso de nuestra Plataforma; o (v) cualquier tipo de perjuicio (personal), muerte, 
                        daño de la propiedad u otros daños, pérdidas y gastos (directos o indirectos, consecuentes 
                        o punitivos) que sufras, contraigas o pagues, ya sea a causa de actos (legales), errores, 
                        infracciones, negligencias (evidentes), mala conducta profesional deliberada, omisiones, 
                        incumplimientos, representación errónea, responsabilidad extracontractual objetiva (completa 
                        o parcialmente) atribuible al Proveedor de viaje o a otros socios de negocio (incluyendo a 
                        cualquiera de sus empleados, directores, agentes, representantes, subcontratistas o empresas 
                        afiliadas) cuyos productos o servicios (directa o indirectamente) estén disponibles, se 
                        ofrezcan o promocionen en o a través de nuestra Plataforma, incluyendo cualquier cancelación 
                        (parcial), sobreventa, huelga, fuerza mayor u cualquier otro acto que escape a nuestro control.
                        BookingUNAJ no es responsable (y se exime de cualquier responsabilidad) por el uso,
                        validez, calidad, pertinencia, aptitud y la divulgación de la Reserva y no realiza
                        representaciones, garantías ni condiciones de ningún tipo a este respecto, sea implícito,
                        reglamentario o de lo contrario, incluya cualquier garantia implícita de comercialización,
                        título, no incumplimiento o aptitud de un propósito en concreto. Estás de acuerdo y aceptás
                        que el Proveedor de viaje relevante es el único responsable y asume toda la responsabilidad
                        y la obligación en cuanto al Viaje (incluyendo cualquier garantía y representación realizada
                        por el Proveedor de Reserva). BookingUNAJ no es el (re)vendedor del Hotel. Las quejas
                        y reclamos en cuanto al Hotel (incluyendo todo lo relacionado con el precio ofrecido
                        (especial/promocional), condiciones o pedidos específicos realizados por los Clientes)
                        se deben gestionar con el Proveedor de Reserva. BookingUNAJ no es el responsable de y
                        rechaza toda responsabilidad en cuanto a dichas quejas, reclamos y obligaciones (del producto).
                        Ya sea que el Proveedor de Reserva te haya cobrado o no por tu viaje, o que nosotros
                        facilitemos el pago del precio de la Reserva, aceptás que el Proveedor de Reserva es,
                        a todos los efectos, el responsable del cobro, retención, envío y pago de los impuestos
                        aplicables sobre el precio total de la Reserva a las autoridades fiscales pertinentes.
                        BookingUNAJ no es responsable del envío, cobro, retención o pago de los impuestos sobre
                        el precio total del Viaje a las autoridades fiscales pertinentes. BookingUNAJ no es el
                        responsable del registro de ningún producto o servicio que esté disponible en la Plataforma.
                        Al subir fotos u otras imágenes a nuestro sistema (por ejemplo, al enviar un comentario)
                        certificas, garantizas y confirmas que estás en posesión del copyright de la foto/imagen
                        y que estás de acuerdo con que BookingUNAJ utilice dicha foto o imagen en sus webs
                        (celulares), apps y materiales promocionales (online y offline), así como en cualquier
                        publicación que BookingUNAJ considere apropiada. Estás garantizando a BookingUNAJ
                        un derecho no-exclusivo, universal, irrevocable, incondicional y permanente, así como
                        la licencia para usar, reproducir, mostrar, hacer reproducir, distribuir, sublicenciar,
                        comunicar y facilitar las fotos/imágenes en la forma que BookingUNAJ considere apropiada.
                        Al subir estas fotos/imágenes, la persona que las sube acepta la responsabilidad legal
                        y moral sobre todas y cada una de las reclamaciones legales realizadas por un tercero
                        (incluyendo, pero no limitándose a, los propietarios de las propiedades)
                        a raíz del uso y publicación de las fotos/imágenes por parte de BookingUNAJ.
                        BookingUNAJ no posee ni avala de forma alguna las fotos/imágenes que se suben.
                        La veracidad, validez y derecho de uso de todas las fotos/imágenes la asumirá la
                        persona que ha subido la foto, y nunca será responsabilidad de BookingUNAJ. BookingUNAJ
                        niega cualquier responsabilidad u obligación sobre las fotografías publicadas.
                        La persona que ha subido las fotos garantizá que las fotos/imágenes no contienen
                        ningún virus, troyano o archivos infectados, así como ningún material pornográfico,
                        ilegal, obsceno, ofensivo, censurable o inapropiado, y que no infringe los derechos
                        (de propiedad intelectual, de copyright o de privacidad) de terceros.
                        Cualquier foto/imagen que no cumpla con los requisitos mencionados no será publicada
                        y/o puede ser eliminada por BookingUNAJ en cualquier momento y sin previo aviso. 
                        BookingUNAJ tiene el derecho, con efecto inmediato, a negar o limitar el acceso
                        a nuestra Plataforma, a nuestro servicio de atención (al cliente) y/o a tu cuenta
                        de BookingUNAJ, y/o a cancelar una reserva confirmada, y/o a prevenir que hagas
                        una reserva si hubiese un supuesto caso o una sospecha razonable de (i) fraude
                        o abuso, (ii) incumplimiento de la legislación y/o reglamentación aplicable,
                        (iii) incumplimiento de los valores y lineamientos de BookingUNAJ,
                        (iv) comportamiento inadecuado o ilícito, entre el cual se incluye:
                        violencia, amenazas, acoso, discriminación, discurso de odio, imprudencia,
                        invasión a la privacidad, tráfico de personas, explotación de menores
                        y obscenidad en relación con BookingUNAJ (o sus empleados y representantes),
                        el Proveedor de Reserva (o sus empleados y representantes) y/o terceros,
                        u (v) otras circunstancias que, a única discreción de BookingUNAJ,
                        justifiquen razonablemente que BookingUNAJ tome alguna de las medidas
                        mencionadas anteriormente.
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Derechos de propiedad intelectual </div>
                    <div class="font-light">
                        Si no se indica lo contrario, el software necesario para nuestros servicios
                        o disponible o utilizado en nuestra Plataforma y los derechos de propiedad
                        intelectual (incluidos los copyrights) de los contenidos y la información,
                        como así también el material de nuestra Plataforma, pertenecen a BookingUNAJ,
                        sus Proveedores de Reserva o proveedores. BookingUNAJ se reserva exclusivamente
                        la propiedad de todos los derechos, título e interés en (todos los derechos
                        de propiedad intelectual de) (la apariencia (incluyendo la infraestructura) de)
                        la plataforma donde el servicio tiene disponibilidad (incluyendo los comentarios
                        de las personas y el contenido traducido), y no tenés derecho a copiar,
                        recopilar, enlazar a, publicar, promocionar, vender, integrar, usar, combinar
                        o usar el contenido (incluidas las traducciones y los comentarios de las personas)
                        o nuestra marca sin un permiso por escrito nuestro. En la medida que quieras usar
                        (completamente o parcialmente) nuestro contenido (traducido) (incluyendo los
                        comentarios de las personas) o seas propietario de cualquier derecho de propiedad
                        intelectual de la plataforma o cualquier contenido (traducido) o comentarios
                        de las personas, por la presente, transfieres y cedes todos los derechos
                        de propiedad intelectual a BookingUNAJ. Cualquier tipo de uso indebido o
                        cualquier tipo de acción o comportamiento anteriormente mencionado constituirá
                        una infracción de nuestros derechos de propiedad intelectual (incluyendo el
                        copyright y el derecho de base de datos).
                    </div>
                </li>
                <li class="pb-5 pt-3">
                    <div class="font-semibold">Leyes aplicables, jurisdicción y resolución de conflictos</div>
                    <div class="font-light">
                        Esto términos y condiciones y el suministro de nuestros servicios estarán
                        regidos e interpretados según las leyes de la República Argentina.
                        No obstante la ya mencionada elección de legislación, una persona física
                        que use cualquiera de nuestros servicios para un propósito que pueda ser
                        considerado como ajeno a su oficio o profesión (de aquí en adelante referido
                        como "consumidor") puede confiar en los estatutos obligatorios de las
                        leyes del país donde tiene su residencia habitual (es decir, según las
                        normas y legislación del país en cuestión, estatutos que se deberán implementar
                        sin importar lo designado en la cláusula de elección de legislación; de aquí en
                        más: "Estatutos obligatorios"). Cualquier conflicto que surja a partir de estos
                        términos y condiciones generales o por nuestros servicios se presentará únicamente
                        ante los tribunales competentes de Florencio Varela, en Argentina. No obstante
                        la cláusula de jurisdicción ya mencionada, un consumidor también podrá presentar
                        acciones respecto de la implementación de los Estatutos Obligatorios aplicables
                        en los tribunales del país en el que tenga residencia, y las acciones contra un
                        consumidor solo podrán realizarse en los tribunales del país en el que tenga
                        residencia. 
                    </div>
                </li>
            </ul>
        </div>