<div class="p-10 min-h-screen flex items-cente justify-center bg-gradient-to-r from-indigo-400 md:from-indigo-700">
    <div class="flex-1 mx-auto flex-col max-w-6xl ">
        <div class="bg-white rounded-lg shadow-2xl">
            <ul class="divide-y-2 divide-gray-400 ">
            <li class="p-4 space-y-2">
                <div class="flex flex-col items-center justify-center ">
                    <div class="font-h3 flex flex-row flex-grow text-black ">
                        <p>Hotel Park</p>
                        <div class="pl-1 mt-1 flex flex-row">
                            <svg class="text-yellow-500 h-5 w-5" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                            </svg>
                            <svg class="text-yellow-500 h-5 w-5" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                            </svg>
                            <svg class="text-yellow-500 h-5 w-5" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="flex flex-row mt-1">
                        <div class="font-h6 text-gray-600">Dirección: Calle falsa 1234</div>
                        <div class="font-h6 text-gray-600 pl-3">Correo: park@gmail.com</div>
                        <div class="font-h6 text-gray-600 pl-3">Telefono: 4226-9864</div>
                    </div>
                    <div class="flex flex-grow flex-row items-center justify-center mt-3">
                        <button class="bg-primary hover:bg-primary-darker text-white font-h6 py-2  px-2 rounded shadow-lg hover:shadow-xl transition duration-200 w-auto" type="submit">Ver detalle</button>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>

    
