<div class="pt-6 pb-24 bg-gray-100">
    <main class="container-login border border-gray-300">
        <section>
            <h3 class="font-h6 text-2xl">Comunicate con nostros</h3>
            <p class="font-h6 text-gray-700 pt-2">Completa el formulario</p>
        </section>

        <section class="mt-10">
            <div class="mb-6 pt-3 rounded bg-gray-200">
                <label class="label-login" for="text">Nombre </label>
                <input type="text" id="txt-nombre-contacto" class="input-login" required="">
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
                <label class="label-login" for="email">Correo</label>
                <input type="text" id="txt-email-contacto" class="input-login" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
                <label class="label-login" for="motivo">Motivo</label>
                <input type="text" id="txt-motivo" class="input-login" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
                <span class="text-gray-800 text-sm font-h6 mb-2 ml-3">Mensaje</span>
                <textarea id="txt-mensaje" class="form-textarea input-login mt-1 block w-full" rows="3" placeholder="Escriba el mensaje."></textarea>
            </div>
            <div class="flex flex-grow flex-row items-center justify-center">
                <button
                    class="bg-primary hover:bg-primary-darker text-white font-h4 font-semibold py-3 rounded shadow-lg hover:shadow-xl transition-all duration-200 disabled:opacity-50 w-full "
                    id="btn-submit-contacto">Enviar</button>
            </div>
        </section>
    </main>
</div>
<div id="container-modal-send">
    <div class="fixed my-3 bg-indigo-900 rounded-lg bottom-0 left-1/4 w-1/2 hidden" id="modal-carga-send">
        <div class="px-5 py-2 border-l-4 border-indigo-700 rounded-lg">
            <h4 class="font-h4 font-semibold text-white" id="msj-carga-send">
                Se envió su formulaio correctamente
            </h4>
        </div>
    </div>
</div>