<div class="md:container mx-auto text-justify pb-10 text-primary-lighter"> 
    <div class=" text-5xl font-semibold py-10 text-center">Valores</div>
        <ul class="px-20">
            <li class="py-5">
                <div class="font-semibold">Calidad</div>
                <div class="font-light">Vivimos en un mundo donde todos dicen que tienen los mejores
                    productos del mercado. Pero una cosa es afirmarlo y la otra es garantizarlo. 
                    Nos esforzamos día a día con los parámetros establecidos y prometidos, 
                    que sólo pueden ser cercanos a la perfección.</div>
            </li>
            <li class="py-5">
                <div class="font-semibold">Pasión</div>
                <div class="font-light">Simplemente amamos lo que hacemos. Pensamos y trabajamos 
                    en todo momento para brindar el mejor servicio a los viajeros y a los 
                    administradores de hoteles</div>
            </li>
            <li class="py-5">
                <div class="font-semibold">Orientación al usuario</div>
                <div class="font-light">Entendemos que la mejor manera de que encuentres lo que estás buscando es hacer
                    simple la búsqueda. Nuestro personal se encuentra permanentemente evaluando y mejorando
                    la experiencia de usuario para hacer más simple tu búsqueda.</div>
            </li>
        </ul>
    </div>
</div>