<div class="pt-6 pb-24 bg-gray-100">
    <main class="container-login border border-gray-300">
        <section>
            <h3 class="font-h6 text-2xl">Bienvenido</h3>
            <p class="font-h6 text-gray-700 pt-2">Ingresa sus datos</p>
        </section>

        <section class="mt-10">
            <div class="mb-6 pt-3 rounded bg-gray-200">
                <label class="label-login" for="text">Nombre de usuario</label>
                <input type="text" id="txt-nombre-usuario" class="input-login" required="">
            </div>
            <div class="mb-6 pt-3 rounded bg-gray-200">
                <label class="label-login" for="password">Contraseña</label>
                <input type="password" id="txt-contraseña" class="input-login" required="" minlength="8">
            </div>
            <div class="flex flex-grow flex-row items-center justify-center mt-12">
                <button
                    class="bg-primary hover:bg-primary-darker text-white font-h4 font-semibold py-3 rounded shadow-lg hover:shadow-xl transition-all duration-200 disabled:opacity-50 w-full"
                    id="btn-submit">Ingresar</button>
            </div>
        </section>
    </main>
    <div class="max-w-lg mx-auto text-center mt-12 mb-6">
        <p class="font-h6">¿No tenés cuenta? <a href="/registrarse" class="font-h6 hover:underline"
                data-link>Registrate</a>.</p>
    </div>
</div>