<div class="md:container mx-auto text-justify pb-10 text-primary-lighter"> 
    <div class=" text-5xl font-semibold py-10 text-center">Declaración de Cookies</div>
    <div class = "px-20">
        <div class="py-5">
            Cuando utilizás nuestros servicios online o apps, puede que se usen cookies y otras tecnologías
            de seguimiento, que también vamos a llamar “cookies” para los fines de esta Declaración de Cookies.     
            Las cookies pueden usarse de distintas formas, incluso para hacer que la página de Booking UNAJ funcione,
            analizar el tráfico y para fines publicitarios.
        </div>
        <div class="py-5">
            Seguí leyendo para saber más sobre qué es una cookie,
            cómo se usan y cuáles son tus opciones.
        </div>
        <ul class="list-decimal px-20 py-5">
            <li class="py-2">¿Qué es una cookie y otras tecnologías de seguimiento online?</li>
            <li class="py-2">¿Cómo se utilizan las cookies?</li>
            <li class="py-2">¿Cuáles son tus opciones?</li>
            <li class="py-2">¿Qué es una cookie y otras tecnologías de seguimiento online?</li>
        </ul>
        <div class="py-5">
            Una cookie de un navegador web es un pequeño archivo de texto que las páginas
            web colocan en el navegador de tu computadora o dispositivo móvil.
            Estas cookies almacenan información sobre el contenido que ves y con el que interactuás
            para recordar tus preferencias y configuración o analizar cómo usás los servicios online.
            Las cookies se dividen en “cookies de origen” y “cookies de terceros”
            Las cookies de origen son aquellas habilitadas por el propietario del dominio,
            en nuestro caso, BookingUNAJ. Cualquier cookie que coloquemos nosotros es una cookie de origen.
            Las cookies de terceros son las que colocan en nuestro dominio nuestros colaboradores
            de confianza que cuentan con nuestro permiso para hacerlo. Pueden ser colaboradores
            de redes sociales, socios publicitarios, proveedores de seguridad, entre otros. Pueden
            ser “cookies de sesión” o “cookies permanentes”.
        </div>
        <div class="py-5">
            Las cookies de sesión solo existen hasta que cerrás el navegador y finalizás lo que se llama la “sesión”.
            Después, se eliminan. La vida útil de las cookies permanentes varía un poco más y no se eliminan de tu
            dispositivo cuando cerrás el navegador. En la plataforma de BookingUNAJ, intentamos usar solamente cookies
            permanentes (o permitir cookies permanentes a los terceros) con una vida útil limitada. Pero, por motivos
            de seguridad o en otras circunstancias excepcionales, a veces necesitamos que la vida útil de las cookies
            sea más larga.
        </div>
        <div class="py-5">
            Las cookies del navegador pueden almacenar información como tu dirección IP u otro identificador,
            el tipo de navegador e información sobre el contenido que visualizás y con el que interactuás
            cuando usás servicios digitales. Al almacenar esta información, las cookies del navegador pueden
            recordar tus preferencias y configuración para servicios online, y analizan cómo los usás.
        </div>
        <div class="py-5">
            Además de las cookies, también se utilizan otras tecnologías de rastreo muy similares.
            Nuestra página web, e-mails y apps móviles pueden contener archivos pequeños y transparentes 
            o líneas de código que registran cómo interactuás con ellos. Entre las que se incluyen balizas web,
            scripts, URL de seguimiento o kits de desarrollo de software (SDK por sus siglas en inglés).
        </div>
        <div class="py-5">    
            Las balizas web tienen distintos nombres. También se las conocen por sus distintos nombres en inglés,
            como web bugs, tracking bugs, web tags, page tags, tracking pixels, pixel tags, 1x1 GIFs o clear GIFs.
        </div>
        <div class="py-5">
            En resumen, estas balizas web son una imagen gráfica diminuta de solo un píxel que se puede
            enviar a tu dispositivo como parte de un pedido de una página web, en una app, un anuncio o un
            mensaje de e-mail con contenido HTML.
        </div>
        <div class="py-5">
            Se pueden usar para recuperar información de tu dispositivo, como el tipo de
            dispositivo o el sistema operativo, la dirección IP y la hora de visita.
            También se usan para enviar y leer cookies en tu navegador o para disparar el envío de una cookie.
        </div>
        <div class="py-5">
            Los scripts son pequeños programas informáticos incrustados en páginas web que dan a esas páginas
            una gran variedad de funciones adicionales. Los scripts sirven para que la página web funcione
            correctamente. Por ejemplo, los scripts activan ciertas funciones de seguridad y habilitan funciones
            interactivas básicas en nuestra página web.
        </div>
        <div class="py-5">
            También se usan con fines analíticos y publicitarios. Por ejemplo, un script puede recopilar
            información sobre cómo usás nuestra página, como qué páginas visitás o qué cosas buscás.
        </div>
        <div class="py-5">
            Las URL de seguimiento son links con un identificador único. Se utilizan para saber de qué
            página web llegaste a la página o app de BookingUNAJ que estés usando. Por ejemplo, si hacés
            clic en una red social, motor de búsqueda o una página web de uno de nuestros colaboradores afiliados.
        </div>
        <div class="py-5">
            Los kits de desarrollo de software (SDK) son parte del código fuente de nuestras apps y, al
            contrario de las cookies del navegador, los datos SDK se guardan en la app.
        </div>
        <div class="py-5">
            Sirven para analizar cómo se usan las apps o enviar notificaciones push personalizadas. Para
            hacer esto, registran identificadores únicos asociados a tu dispositivo, como el ID del dispositivo,
            la dirección IP, tu actividad en la app y la ubicación de la red.
        </div>
        <div class="py-5">
            En esta declaración de cookies, nos referimos a todas estas tecnologías de seguimiento como "cookies".
            ¿Cómo se utilizan las cookies?
        </div>
        <div class="py-5">
            Las cookies se utilizan para recopilar información, incluyendo:
        </div>
        <ul class="list-decimal px-20 py-5">
            <li class="py-2">Dirección IP</li>
            <li class="py-2">ID del dispositivo</li>
            <li class="py-2">Páginas visualizadas</li>
            <li class="py-2">Tipo de navegador</li>
            <li class="py-2">Datos de navegación</li>
            <li class="py-2">Sistema operativo</li>
            <li class="py-2">Proveedor del servicio de Internet</li>
            <li class="py-2">Registro de la hora</li>
            <li class="py-2">Si respondiste a un anuncio</li>
            <li class="py-2">URL de referencia</li>
            <li class="py-2">Funciones utilizadas o actividades realizadas en la página o las apps</li>
        </ul>

        <div class="py-5">
            Permiten que se te reconozca como el mismo usuario en todas las páginas de una misma web,
            en distintos dispositivos, entre páginas web y cuando usás nuestras apps. Las cookies se pueden
            dividir en tres categorías, según su función: cookies funcionales, cookies analíticas y cookies de marketing.
        </div>
    
        <div class="font-semibold">Cookies funcionales</div>
        

        <div class="py-5">
            Son las cookies necesarias para que nuestras páginas web y apps funcionen y se deben habilitar
            para que puedas usar nuestros servicios.
        </div>
    
        <div class="py-5">
            Las cookies funcionales se usan para crear páginas web y apps de alta tecnología y que sean fáciles
            de usar para los usuarios, capaces de adaptarse automáticamente a tus necesidades y preferencias
            para que puedas navegar y reservar fácilmente. Esto también incluye habilitar funciones esenciales
            de seguridad y accesibilidad.
        </div>
    
        <div class="font-semibold">Cookies analíticas</div>
    
        <div class="py-5">    
            Estas cookies miden y siguen cómo se usan la página web y las apps. Usamos esta información para
            mejorar nuestra página web, apps y servicios.
        </div>
    
        <div class="py-5">    
            Los datos que recopilamos con estas cookies pueden incluir qué páginas web viste, a qué páginas referidas/de
            salida entraste y cuáles abandonaste, qué tipo de plataforma usaste, qué e-mails abriste y con cuáles
            interactuaste, y la información sobre la fecha y la marca temporal. También significa que podemos usar
            la información sobre cómo interactuaste con la página web o la app, por ejemplo el número de clics que
            hiciste en una página en concreto, los movimientos de tu mouse y las veces que subiste y bajaste por la página,
            las palabras que usaste en tu búsqueda y el texto introducido en distintos campos.
        </div>
    
        <div class="font-semibold">Cookies de marketing</div>
    
        <div class="py-5">  
            BookingUNAJ y nuestros colaboradores de confianza usan estas cookies para recopilar información sobre vos
            de diferentes páginas web, apps y otras plataformas a lo largo del tiempo.
        </div>
    
        <div class="py-5">  
            Las cookies de marketing nos ayudan a decidir qué productos, servicios y anuncios basados en intereses
            mostrarte, dentro y fuera de nuestra página web y apps.
        </div>
    
        <div class="font-semibold">Técnicas distintas a las cookies: píxeles de e-mail</div>
    
        <div class="py-5"> 
            También podemos usar técnicas, como los píxeles, que no consideramos cookies porque no almacenan 
            información en tu dispositivo.
        </div>
    
        <div class="py-5"> 
            A veces, agregamos píxeles a los e-mails, por ejemplo, a las newsletters. Un "píxel" es un archivo
            electrónico del tamaño de un único píxel que se integra en el e-mail y se carga cuando lo abrís.
            Al usar píxeles de e-mail, podemos saber si se entregó el e-mail, si lo leíste y cuándo y dónde hacés clic.
        </div>
    
        <div class="py-5"> 
            También recibimos esta información sobre las notificaciones push que te enviamos.
            Estas estadísticas nos dan información sobre tu comportamiento de lectura, que después utilizamos
            para optimizar nuestros mensajes y hacer que nuestras comunicaciones sean más relevantes para vos.
        </div>
    </div>
</div>
