<div class="md:container mx-auto text-justify pb-10 text-primary-lighter"> 
    <div class=" text-5xl font-semibold py-10 text-center">Declaracion de Accesibilidad</div>
    <div class = "px-20">
        <div class="py-5">
            El portal web de Booking UNAJ se ha desarrollado adoptando una serie de medidas
            con el objetivo de mejorar su accesibilidad, y que pueda ser navegado
            por el mayor número de usuarios con independencia de sus limitaciones personales o tecnológicas. 
            Para ello se ha trabajado sobre la base de los requisitos de Prioridad 1 y Prioridad 2
            de la Norma UNE 139803:2012 Requisitos de Accesibilidad para contenidos en la web,
            que se corresponde con el nivel de conformidad AA (Doble-A) de las pautas internacionales
            de Accesibilidad para el Contenido Web WCAG 2.0 definidas por el Consorcio para la World Wide Web (W3C).
        </div>
        <div class="py-5">
            Se ha realizado una comprobación mediante herramientas semiautomáticas
            y una auditoría manual del cumplimiento de los requisitos aplicables a este nivel Doble-A,
            estando actualmente trabajando en la resolución de algunos problemas identificados.
            Entre las ventajas que aporta la implantación de las técnicas y criterios de accesibilidad
            a los usuarios del sitio web, están las siguientes:
        </div>
        <div class="px-20">
            <ul class="list-disc">
                <li class="py-5"> 
                    Facilitar el acceso de los usuarios e independientemente de sus capacidades,
                    entorno, o infraestructura tecnológica.
                </li>
                <li  class="py-5">
                    Facilita el acceso con diferentes navegadores (se visualiza correctamente 
                    en las últimas versiones de los navegadores más habituales como Microsoft Internet Explorer 
                    (excepto versión 6 obsoleta), Netscape, Mozilla Firefox, Safari y Google Chrome).
                </li>
                <li  class="py-5">
                    Los contenidos se presentan estructurados y más claros, facilitando su interpretación.
                </li>
                <li>
                    Mejora la navegación y la experiencia del usuario. Para ello se han adoptado, entre otras medidas:
                    <ul class="list-decimal px-20 py-10">
                        <li class="py-2">
                            Separación entre contenido y presentación, utilizando las hojas de estilo (CSS).
                        </li>
                        <li class="py-2">
                            Se añaden alternativas textuales al contenido no textual.
                        </li>
                        <li class="py-2">
                            Jerarquización del contenido, utilizado el marcado estructural y semántico adecuado 
                            para la información y las relaciones existentes entre el contenido.
                        </li>
                        <li class="py-2">
                            Aplicación de los estándares del W3C.
                        </li>
                        <li class="py-2">
                            Mejora de la navegabilidad, menú de navegación visible en todas las páginas, camino de migas.
                        </li>
                        <li class="py-2">
                        El tamaño del texto está definido en unidades relativas para que pueda ampliarse
                        o reducirse por el usuario.
                        </li>
                        <li class="py-2">
                            El texto se puede redimensionar de forma que pueda ser leído por personas con problemas de visión.
                        </li>
                        <li class="py-2">
                            Utilice CTRL+ ó CTRL-En todas las páginas del sitio web se ha incluido el mecanismo 
                            conocido como Migas de pan, que indican al usuario la ruta seguida a dicha página desde 
                            la página principal.
                        </li>
                        <li class="py-2">
                            Se han identificado los acrónimos y abreviaturas.
                        </li>
                        <li class="py-2">
                            Todos los enlaces están identificados y ofrecen detalles de la función 
                            o destino del hipervínculo.
                        </li>
                    </ul>
                </li>
                <li class="py-2">
                    Se identifican los formatos de los archivos que son descargables,
                    como PDF´s.Se avisa al usuario de las aperturas de nuevas ventanas.
                </li>
                <li class="py-2">
                    Excepciones Los contenidos dispuestos para ampliar información con formatos distintos
                    de HTML como PDF, en su mayoría, no incorporan características de accesibilidad.
                </li>
                <li class="py-2">
                    Booking UNAJ se compromete a proporcionar estos documentos en formato accesible a quien lo solicite.
                </li>
                <li class="py-2">
                    Comunique sus sugerencias Si desea realizar alguna sugerencia sobre la accesibilidad del portal
                    puede contactar con nosotros enviando un mensaje de correo electrónico a contacto@bookingunaj.com
                </li>
            </ul>  
        </div>
    </div>
</div>