<div class="w-auto flex flex-col">
    <div class="mx-auto my-auto mt-20 mb-20">
        <div class="rounded-t bg-white px-3 py-2">
            <div class="rectangle-hotel">
                <div class="container-title-hotel">
                    <h1>Hotel Ejemplo</h1>
                </div>
                <div class="container-despcription-hotel">
                    <p>Posible descpripcion
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatem, totam libero, eaque earum modi consequatur fuga amet
                        eligendi aliquid necessitatibus voluptas tempora dolorem. Mollitia enim ex
                        doloremque similique ipsum magnam.
                    </p>
                </div>
                <div class="container-goldstar-hotel">
                    <img src="/src/img/iconos/estrelladorada.png" height="35px" width="35px">
                </div>
                <div class="container-cantgoldstars-hotel">
                    <h1>5</h1>
                </div>
                <img src="/src/img/hoteles/kuldeep-swarnkaar-g1pCP0kViMI-unsplash.jpg" height="300px" width="300px">
            </div>
            <div class="izquierda rectangle">
                <div class="container-izquierda-title">
                    <h2>Buscar</h2>
                </div>
                <div class="container-izquierda-title1">
                    <h5>Destino/Nombre del alojamiento:</h5>
                </div>
                <div class="container-izquierda-title2">
                    <h5>Fecha de entrada:</h5>
                </div>
                <div class="container-izquierda-title3">
                    <h5>Fecha de salida</h5>
                </div>
                <div class="container-izquierda-title4">
                    <h5>Cantidad de personas:</h5>
                </div>
                <div class="container-izquierda-title5">
                    <h5>Cantidad de estrellas:</h5>
                </div>
                <div class="rectangle2">
                    <div class="image-rectangle2">
                        <img src="/src/img/iconos/lupa.png">
                    </div>
                </div>
                <div class="rectangle3">
                    <div class="image-rectangle3">
                        <form class="dates">
                            <input type="date" required>
                            <label class="lbl-numb">
                                <span class="text-nomb">
                                </span>
                            </label>
                        </form>
                        <img src="/src/img/iconos/calendario.png" height="35" width="35">
                    </div>
                </div>
                <div class="rectangle4">
                    <div class="image-rectangle4">
                        <form class="dates">
                            <input type="date" required>
                            <label class="lbl-numb">
                                <span class="text-nomb">
                                </span>
                            </label>
                        </form>
                        <img src="/src/img/iconos/calendario.png" height="35" width="35">
                    </div>
                </div>
                <div class="rectangle5">
                    <div class="image-rectangle5">
                        <form class="form">
                            <input type="number" required ">
                                <label class=" lbl-numb">
                            <span class="text-nomb">
                            </span>
                            </label>
                        </form>
                        <img src="/src/img/iconos/persona.png" height="35" width="35">
                    </div>
                </div>
                <div class="rectangle6">
                    <div class="image-rectangle6">
                        <form class="form">
                            <input type="number" required>
                            <label class="lbl-numb">
                                <span class="text-nomb">
                                </span>
                            </label>
                        </form>
                        <img src="/src/img/iconos/estrella.png" height="35" width="35">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lg:container mx-auto">
    <div class="flex lg:flex-row flex-col">
        <div class="lg:w-72 w-auto h-auto px-3 py-5 my-4 mx-4 rounded-xl bg-primary-darker lg:flex-none">
            <form action="">
                <h3 class="font-h2 text-white mb-2">Buscar</h3>

                <h6 class="mb-1 font-h6 text-white">Destino:</h6>
                <input type="text" class="input-text-on-primary text-primary-lighter w-full rounded mb-4" id="destino"
                    placeholder="Destino"></input>

                <h6 class="mb-1 font-h6 text-white">Fecha de entrada:</h6>
                <input type="date" class="input-text-on-primary text-primary-lighter w-full rounded mb-4"
                    id="fecha_entrada"></input>

                <h6 class="mb-1 font-h6 text-white">Fecha de salida:</h6>
                <input type="date" class="input-text-on-primary text-primary-lighter w-full rounded mb-4"
                    id="fecha_entrada"></input>

                <h6 class="mb-1 font-h6 text-white">Cantidad de estrellas:</h6>
                <input type="number" class="input-text-on-primary text-primary-lighter w-full rounded mb-4 "
                    id="cantidad_estrellas" required></input>

                <h6 class="mb-1 font-h6 text-white">Cantidad de personas:</h6>
                <input type="number" class="input-text-on-primary text-primary-lighter w-full rounded mb-6"
                    id="cantidad_personas" required></input>

                <input type="button" class="btn-filled w-full text-white" value="Buscar">
            </form>
        </div>
        <div class="h-auto w-auto bg-blue-200 lg:flex-grow">
            A todos lore
        </div>
    </div>
</div>